<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="admin/layout :: head"></head>
  <body id="page-top">
    <div id="wrapper">
      <div th:replace="admin/layout :: sidebar"></div>
      <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
          <div th:replace="admin/layout :: topbar"></div>
          <div class="container-fluid">
            <h1
              class="h3 mb-4 text-gray-800"
              th:text="${player.id} == null ? 'Add Player' : 'Edit Player'"
            ></h1>
            <form
              th:action="@{/admin/players/save}"
              th:object="${player}"
              method="post"
              enctype="multipart/form-data"
            >
              <input type="hidden" th:field="*{id}" />
              <div class="form-group">
                <label>Name</label>
                <input
                  type="text"
                  class="form-control"
                  th:field="*{username}"
                  required
                />
              </div>
              <div class="form-group">
                <label>Age</label>
                <input
                  type="number"
                  class="form-control"
                  th:field="*{age}"
                  required
                />
              </div>
              <div class="form-group">
                <label>Nationality</label>
                <input
                  type="text"
                  class="form-control"
                  th:field="*{nationality}"
                  required
                />
              </div>
              <div class="form-group">
                <label>Player image</label>
                <input type="file" name="imageFile" class="form-control" />
              </div>
              <button type="submit" class="btn btn-primary">Save</button>
              <a th:href="@{/admin/players}" class="btn btn-secondary"
                >Cancel</a
              >
            </form>
          </div>
        </div>
        <div th:replace="admin/layout :: footer"></div>
      </div>
    </div>
    <div th:replace="admin/layout :: scripts"></div>
  </body>
</html>
